</table>
<table class="main">
  <tr class="title">
    <td>&nbsp;</td>
    <td class="quantity"><A name="X$cat">pr. no.</td>
    <td class="descr">$Description</td>
    <td class="quantity">Mem Order Qty</td>
    <td class="quantity">Wh Order Qty</td>
    <td class="price">Mem Price</td>
    <td class="price">Wh Price</td>
    <td class="quantity">BTW</td>
    <td class="quantity">Margin %</td>
    <td class="quantity">Active</td>
</tr>
  
