<tr class="${RowClass}" >
    <td class="qty4">${pr_id}</td>
    <td class="descr">$URL ${pr_desc}</td>
    <td class="quantity">${mem_qty}</td>
    <td class="quantity" $sh_color>${short}</td>
    <td><input class="qtyinp" name="qty_${pr_id}" value="${order}" /></td>
    <td class="price">${pr_mem_price}</td>
    <td class="price">${cost}</td>
</tr>
