<table>
  <tr class="nobox" >
    <td>$DROP </td> <td class = "spacer"> </td> 
    <td class = "spacer"> </td>
    <td><input type="submit" value="Set As Default" name="SetDef"></input></td>
  </tr>
</table>
<p/>
<table class="main">

