<ul id="order-menu">
    <li>
        <input type="submit" name="Save" value="Save Changes" class="blue bold" />
    </li>
    <li>
        <input type="submit" name="Reload" value="Preview Order" />
    </li>
    <li>
        <input type="submit" name="SetDef" value="Set As Default" />
    </li>
    <li>
        <input type="reset" value="Reset Changes" name="Reset" /><br />
    </li>
    <li id="select-order-nr">
        $DROP
    </li>
</ul>

<table class="main">