</table>
<table class="main">
  <tr class="title">
    <td class="ttlqty"><A name="X$cat"></A>Pr</td>
    <td align="center"><B>$Description</B></td>
    <td >Category</td>
    <td >Sub-Category</td>
    <td class="ttlqty">Ord qty</td>
    <td class="ttlqty">Wh. qty</td>
    <td class="ttlprc">Price</td>
    <td class="ttlprc">Wh price</td>
    <td class="ttlqty">BTW</td>
    <td class="ttlqty">Margin</td>
    <td class="ttlqty">Active</td>
  </tr>
  
