<tr class="${RowClass}" >
  <td class="qty4">${pr_id}</td>
  <td class="info">$URL</td>
  <td class="descr">${pr_desc}</td>
  <td class="qty4">${order}</td>
  <td class="quantity">${meml_btw}</td>
  <td class="price">${meml_ex_btw}</td>
  <td class="price">${cost_ex_btw}</td>
</tr>


