<tr class="title">
    <td class="qty4"><a name="X$cat"></a>Product</td>
    <td class="ttlinfo">Info</td>
    <td class="ttldsc">$Description</td>
    <td class="ttlqty">All<br />ords.</td>
    <td class="ttlqty">Shortage</td>
    <td class="ttlqty">My<br />order</td>
    <td class="ttlprc">Unit<br />price</td>
    <td class="ttlprc">Total<br />price</td>
</tr>  
