<tr class="title">
    <td class="qty4"><a name="X$cat"></a>Product</td>
    <td class="ttlinfo">Info</td>
    <td class="ttldsc">$Description</td>
    <td class="ttlqty">All ords.</td>
    <td class="ttlqty">Shortage</td>
    <td class="ttlqty">My order</td>
    <td class="ttlqty">BTW %</td>
    <td class="ttlprc">Pr ex-BTW</td>
    <td class="ttlprc">Total ex-NTW</td>
</tr>  
