<tr class="title" >
  <td class="quantity">Wh. No.</td>
  <td class="quantity">Vokomokum Pr. Code</td>
  <td class="whprcode">Wh. Pr.Code</td>
  <td class="descr">Wholesaler Description</td>
  <td class="quantity">Ordered</td>
  <td class="quantity">Received</td>
  <td class="price">Price ex-BTW</td>
  <td class="price">Price inc BTW</td>
</tr>

