<tr class="${RowClass}"">
  <td class="quantity">${wh_no}</td>
  <td class="quantity"><a href="who_ordered.pm?ProdID=${pr_id}">${pr_id}</a></td>
  <td class="whprcode">${prcode}</td>
  <td class="descr">${descr}</td>
  <td class="quantity">${qty}</td>
  <td><input class="$Qty" name="w_${pr_id}" value="${received}"></input></td>
  <td class="price">${price}</td>
  <td class="price">${price_inc_btw}</td>
</tr>



