<h2>You have requested to change your password</h2>
<p/><p>
You should receive an email in a few minutes with instructions and a
link to follow to allow you to set a new password.
</p>
</body>
</html>
