<tr class="error" >
  <td class="quantity">${pr_id}</td><td class="descr">${pr_desc}</td>
  <td class="quantity">${mem_qty}</td><td class="quantity">${short}</td>
  <td class="quantity">${order}</td>
  <td class="price">${pr_mem_price}</td>
  <td class="price">${cost}</td>
</tr>
</table>
<table class="main">
