<div>
    <input type="checkbox" name="CommitYes" id="CommitYes" class="checkbox" />
    <label for="CommitYes" class="italic red">
        I agree to purchase this order of <span class="bold">€ $total</span>
    </label><br />
    <input type="submit" name="Commit" value="commit" class="bold red" />
</div>
