[NL]
De bestelling die je hebt geplaatst is bewaard en zal automatisch bij de volgende Vokomokum bestel periode te zien zijn. Je mag veranderingen aanbrengen wanneer je dat zou willen.

[ENG]
The order you made has been saved and will be automatically entered at
the start of the next Vokomokum order period. You may change this whenever you wish.
