<tr class="${RowClass}" >
  <td class="qty4">${pr_id}</td><td class="descr">$URL ${pr_desc}</td>
  <td class="qty4">${order}</td>
  <td class="price">${pr_mem_price}</td>
  <td class="price">${cost}</td>
</tr>


