<p>
<span class="boldtxt">
<table class=:main" width="100%">
  <tr class="$RowClass">
    <td align="center" width="25%">Posted$posted</td>
    <td align="left" width="35%">By: $author</td>
    <td width="40%"&nbsp;</td>
  </tr>
  <tr class="$RowClass" align="center">
     <td colspan="3"><textarea rows="5" cols="100" name="Message" readonly>$body</textarea></td>
  </tr>
</table>
</p>
