<table width="100%">
  <tr>
    <td width="50%"<input align="center" type="submit" 
         value="Show All Postings" name="ShowAll"</td>
    <td width="33%"<input align="center" type="submit" 
        value="Mark All as Read" name="MarkRead"</td>
  </tr>  
</table>
</span>
</form>
</body>
</html>

