<tr class="myorder">
  <td align="left" colspan="9">Sub-total ex-BTW</td>
  <td class="price">${items_ex_btw}</td>
</tr>
<tr class="myorder">
  <td align="left" colspan="9">Total BTW</td>
  <td class="price">${total_btw}</td>
</tr>

