</table>
<br><input type="checkbox" id="showbtw" name="showbtw" $btwchecked /><label
for="showbtw">Show BTW details</label><br>
<input type="checkbox" id="showall" name="showall" $allchecked /><label
for="showall">Show complete details, inc. BTW</label><br>
<table class="main">
