  <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr>
    <td align="right">Name:</td><td>&nbsp;</td>
    <td align="left"><input type="text" size="40" maxlength="60" value="${order_name}" name="ord_name"></input></td>
    <td>&nbsp;</td>
  <tr>
