<p>${DROP}</p>
<label for="Member">Member number or email address</label><br />
<input type="text" id="Member" name="Member" value="$mem_id" class="input-text" /><br />
<input type="submit" name="Login" value="get member’s order" class="submit-button" /><br />
<br />
<table class="main">
