$COMMITREMINDER
The current Vokomokum order period is now closed. You had some
products on order, but you never committed the order. Because the
order is not committed, Vokomokum will not be purchasing from our
suppliers to fulfill your order.
$CARRYOVER
