<tr class="$RowClass" >
  <td class="quantity">${pr_id}</td><td class="descr">${descr}</td>
  <td class="quantity">${mem_qty}</td><td class="quantity">${reduce_by}</td>
  <td><input class=${Qty} name="p_${pr_id}m_$mem_id" value="${qty}"/></td>
</tr>




