</table>
<table class="main">
  <tr class="title">
    <td class="ttlqty">Product code</td>
    <td class="ttldsc">Description</td>
    <td class="ttlqty">Ordered</td>
    <td class="ttlqty">Reduce by</td>
  </tr>
  
