/*
 * This is used when the app is embedded in an iframe of a main website
 * */
body {
    background-color: #ffffff;
    padding: 0px;
}

#title {
    display: none;
}

#menu-items{
    display: none;
}

#container { 
    width: 870px; /*900 (iframe width on vk.nl) minus eventual vertical scrollbars*/
    background: #ffffff;
    border: none;
}

#footer{
    display: none;
}
