<tr class="myorder">
  <td align="left" colspan="6">Total</td>
  <td class="price">${total}</td>
</tr>
</table>
</form>
<script src="/js/jquery-1.3.2.min.js"></script>
<script src="/js/js.js"></script>
</body>
</html>
