  <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr>
    <td>&nbsp;</td><td>&nbsp;</td>
    <td align="left">Send a reminder email to members with uncommitted
orders?</td>
   <td><input align="center" type="Submit" name="SendReminder" value="Email"></input>
  </tr>
