<table>
  <tr class="nobox" >
    <td>$DROP<input type="Submit" value="Go"/></td><td>&nbsp;&nbsp;&nbsp;</td>
    <td><input type="submit" value="Preview" name="Reload"></input></td>
    </td><td class = "spacer"> </td></td><td class = "spacer"> </td>
  </tr>
</table>
<p/>
<table class="main">

